{% load bootstrap4 %}
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>{% block title %}Детектирование сигналов{% endblock %}</title>
    {# Icon #}
    <link rel="shortcut icon" href="{% static "diploma/images/favicon.ico" %}" type="image/x-icon"/>
    {# Meta tags #}
    <meta charset="utf-8"/>
    {# Styles #}
    <link rel="stylesheet" href="{% static "diploma/css/navbar.css" %}"/>
    <link rel="stylesheet" href="{% static "diploma/css/index.css" %}"/>
    <style>
        body {
            background: url('{% static "diploma/images/fon.png" %}') no-repeat center center fixed;
            background-size: cover;
            min-width: 750px;
        }
    </style>
    {% bootstrap_css %}
    {% block extrastyle %}{% endblock %}
</head>
<body>
    {% block body-start %}{% endblock %}
    {% block navbar %}
        <nav class="navbar-top">
            <a class="navbar-logo" href="/"><img src="{% static "diploma/images/logo_uisi.png" %}" alt="logo_uisi"></a>
            <ul class="navbar-links">
                {% block navbar-links %}{% endblock %}
            </ul>
        </nav>
    {% endblock %}
    {% block secondary-navbar %}{% endblock %}
    <div>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
        <div class="site-footer text-indent">
            Сайт для изучения тории о Детектировании сигналов и выполнению лабораторной работы. Город Екатеринбург 2021г.
        </div>
    </div>
    {% block extrascript %}{% endblock %}
</body>
</html>
