<!DOCTYPE html>
{% extends "blog/base_laborathory.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/button.css" %}"/>
<style>
#ssilka {
    color: red; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
	font-weight: bold;
   }
#ssilka:hover {
    color: Darkred; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
	font-weight: bold;
   }
</style>
<form method="POST">
    {% csrf_token %}
	<div id="u3000-30" style="display:block">
		<p id="u3870-311">Практическое задание 4(пример выполнения)</p>
		<input type="hidden" name="vihod" value="{{vihod}}"/>
		<p id="u3870-311">"Реализация OFDM демодулятора в MATLAB или Python"</p>
		<center><div id="u3000-50">
			<p>В данной работе Вам надо будет изучить принцип работы QPSK детектора и смоделировать его в Python или MATLAB.</p>
		</div><center>
		<p>Упрощенная схема передачи с OFDM-модулятором представлена на рисунке 1.</p>
		<img id="u3000-80" src="/static/lab4/OFDMmodulation.png" alt="OFDMmodulation"/>
		<p id="u3870-32">Рисунок 1 - Упрощённая схема передатчика с OFDM-модулятором</p>
		<p>Как видно из рисунка 1, входное сообщение сначала преобразуется из последовательного кода в параллельный. Затем параллельный код проходит процессы модуляции и обратного преобразования Фурье. После ОБПФ параллельный код преобразуется в последовательный. После OFDM-модуляции сигнал поступает на ЦАП, а затем в канал связи.</p>
		<p>На рисунке 2 представлен передатчик с OFDM-модулятором. Данный OFDM-модулятор состоит из: 1)преобразователя кода, 2)четырёх QPSK-модуляторов, 3)четырёх блоков с ОБПФ, 4)преобразователя кода</p>
		<p>Необходимо смоделировать на языке Python или MATLAB OFDM-демодулятор, который будет детектировать сигналы, отправленные с передатчика, изображенного на рисунке 2.</p>
		<img id="u3000-80" src="/static/lab4/OFDM(4QPSK)modulation.png" alt="OFDM(4QPSK)modulation"/>
		<p id="u3870-32">Рисунок 2 - Передатчик с OFDM-модулятором, в состав которого входит четыре QPSK-модулятора</p>
		<p>Допустим, на приёмник поступил сигнал, представленный на рисунке 3. Данный сигнал на выходе АЦП выглядит: </p>
		<p>1.01659295 +0.3301685j</p>
		<p>0.312727 -0.64609173j</p>
		<p>-0.33442137 -0.32370712j</p>
		<p>-0.32960384 +0.0235889j</p>
		<p>-0.5795372 +0.33914848j</p>
		<p>-0.46384557 +0.11455998j</p>
		<p>-0.92402604 +0.24480122j</p>
		<p>-0.30071897 -0.58288209j</p>
		<p>0.62175133 +0.34125535j</p>
		<p>0.1206058 -0.43642j</p>
		<p>0.25521732 -0.9055472j</p>
		<p>-0.35205805 +0.60033668j</p>
		<img src="/static/lab4/OFDM(4QPSK)signal.png" alt="OFDM(4QPSK)signal"/>
		<p id="u3870-32">Рисунок 3 - Сигнал, поступивший на приёмник</p>
		<p>Стоит отметить, что сигнал выглядит в форме ломаной потому, что он имеет малую длительность. Сигнал с большей длительностью представлен на странице, которая откроется после нажатия на кнопку "Проверить".</p>
		<p>После детектирования получим сигнал: 100110011011111110000001</p>
		<div id="u3000-50" align="left">
			<p>Необходимо смоделировать на языке Python или MATLAB OFDM-демодулятор, на вход которого будет поступать сигнал отправленный с передатчика, изображенного на рисунке 2.</p>
			<p>1) Входные данные (копируются в вашу программу): список из комплексных чисел.</p>
			<p>2) Необходимо детектировать сигнал, состоящий из этих комплексных чисел. Для OFDM-демодулятора можно использовать QPSK-демодулятор, смоделированный в задании 3.</p>
			<p>4) Должно получиться сообщение, состоящее из "0" и "1".</p>
			<p>5) Выходные данные (их необходимо ввести в поле для ввода): последовательность из "0" и "1".</p>
			<p>6) Для проверки детектора нажмите кнопку "Проверить", вам будет представлен список комплексных чисел, нужно будет получить сигнал после детектирования и ввести полученный результат в поле для ввода.</p>
		</div>
		<p><a href="#"><input type="button" class="button1" value="Перейти к практике" onclick="javascript:showhide('u3000-30', 'u3000-31')"/></a></p>
	</div>
	<div id="u3000-31" style="display:none">
		<p id="u3870-311">Практическое задание 4</p>
		<p id="u3870-311">"Реализация OFDM-демодулятора в MATLAB или Python"</p>
		<center><div id="u3000-50">
			<p>Для проверки работы детектора скопируйте входные данные в код с вашим детектором, а потом вставьте выходные данные в поле для ввода.</p>
		</div><center>
		<p>Сигнал, поступишвий на приёмник представлен на рисунке 1.</p>
		<img src="/static/lab4/{{put}}.png" alt="{{put}}"/>
		<p id="u3870-32">Рисунок 1 - Сигнал, поступивший на приёмник</p>
		<p><a id="ssilka" href="##" onclick="javascript:pokazspryat('signal')">Входные данные (нажмите, чтобы посмотреть):</a></p>
		<div id="signal" style="display:none">
			<p>{{signal}}</p>
		</div>
		<p>Введите получившееся сообщение: <input autocomplete="off" required name="otv" type="text" size="40" placeholder="Пример ввода: 01101000110101"/></p>
		<p>После того, как Вы детектируете сигнал, нажмите кнопку "Проверить".</p>
		<p><input type="submit" class = "button1" value="Проверить"/></p>
	</div>
</form>
<script type="text/javascript">
    function showhide(id, id2) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
		var g = document.getElementById(id2);
        g.style.display = (g.style.display == 'block') ? 'none' : 'block';
     }
	function pokazspryat(id) {
        var g = document.getElementById(id);
        g.style.display = (g.style.display == 'block') ? 'none' : 'block';
    }
</script>
{% endblock content %}