<!DOCTYPE html>
{% extends "blog/base_theory.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/button.css" %}" />
<div id="u3870-30">
<p id="u3870-311">{{tema}}</p>
{% for i in lines %}
	{% if i == lines.5 %}
		<img id="u3870-20" src="{% static "images/ris1.png" %}" alt="ris1"/>
	{% elif i == lines.6 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.7 %}
		<img id="u3870-20" src="{% static "images/ris2.png" %}" alt="ris2"/>
	{% elif i == lines.8 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.11 %}
		<img id="u3870-20" src="{% static "images/ris3.png" %}" alt="ris3"/>
	{% elif i == lines.12 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.13 %}
		<img id="u3870-20" src="{% static "images/ris4.png" %}" alt="ris4"/>
	{% elif i == lines.14 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.23 %}
		<img id="u3870-20" src="{% static "images/ris5.png" %}" alt="ris5"/>
	{% elif i == lines.24 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.27 %}
		<img id="u3870-20" src="{% static "images/ris6.png" %}" alt="ris6"/>
	{% elif i == lines.28 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.32 %}
		<img id="u3870-20" src="{% static "images/ris7.png" %}" alt="ris7"/>
	{% elif i == lines.33 %}
		<p id="u3870-32">{{ i }}</p>
	{% elif i == lines.41 %}
		<img id="u3870-20" src="{% static "images/ris8.png" %}" alt="ris8"/>
	{% elif i == lines.42 %}
		<p id="u3870-32">{{ i }}</p>
	{% else %}
		<p id="u3870-33">{{ i }}</p>
	{% endif %}
{% endfor %}
	<a href="#"><input class = "button1" type="button" value="Наверх" id="button1" /></a>
</div>
{% endblock content %}