<!DOCTYPE html>
{% extends "blog/base_laborathory.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/button.css" %}" />
<style>
.loader  {
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -60px;
    margin-top:-60px;
	display: none;
}

div.enabled {
    display: block;
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
	opacity: 1;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#load{
	position: fixed;
	z-index: 9;
	bgcolor: white;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}
#ssilka {
    color: red; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
	font-weight: bold;
   }
#ssilka:hover {
    color: Darkred; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
	font-weight: bold;
   }
p {
text-align: justify;
text-indent: 40px;
}
</style>
<div id="load" style="display:none"></div>
<div class="loader"></div>
<form method="POST">
    {% csrf_token %}
	<div id="u3870-30">
		<p id="u3870-311" style="text-indent: 0;">Практическое задание 1 (пример выполнения)</p>
		<p id="u3870-311" style="text-indent: 0;">"Изучение влияния SNR на качество детектирования"</p>
		<center><div id="u3000-50">
			<p id="u2000-33">В данной работе Вам надо будет изучить влияние SNR на качество детектирования. </p>
			<p id="u2000-33">Вам необходимо будет проделать работу несколько раз для разных типов манипуляции, при этом, рассчитать такое значение SNR, при котором вероятность приёма сообщения с ошибкой будет примерно равна 0.5%. Пример выполнения работы представлен ниже.</p>
			<center><a id="ssilka" href="##" onclick="javascript:showhide('primer')">Показать/скрыть пример.</a></center>
		</div><center>
		<div id="primer" style="display:block">
			<p>0) Как только Вы приступите к практике, будет сформирован случайный сигнал из последовательности "0" и "1".</p>
			<p>Допустим было сформировано сообщение: 011001 101011 100100 011001</p>
			<p>Данное сообщение поступает на "передающее устройство", где проходит процесс манипуляции. Схема сети представлена на рисунке 1.</p>
			<img id="u3000-80" src="{% static "images/lab1_shema_seti.png" %}" alt="lab1_shema_seti"/>
			<p id="u3000-40">Рисунок 1 - Схема сети</p>
			<div id="u3000-50" align="left"><p>1) Изначально необходимо выбрать тип манипуляции, для которого Вы будете подбирать SNR.</p></div>
			<p id="u3870-311" style="text-indent: 0;">Выбраный тип манипуляции - M-PSK, где M = 64</p>
			<p>Исходное сообщение прошло через процесс манипуляции 64-PSK. Внешний вид получившегося сигнала представлен на рисунке 2.</p>
			<img src="{% static "lab1/64-PSKmod.png" %}" alt="64-PSKmod"/>
			<p id="u3870-32">Рисунок 2 - Внешний вид сигнала, после прохождения процесса манипуляции</p>
			<p>После передающего устройства сигнал проходит через канал связи и попадает на примное устройство. В канале связи на сигнал воздействуют разные помехи. В итоге сигнал получается зашумленным.</p>
			<p>В качестве базовой модели канала связи используется канал с аддитивным белым гауссовским шумом (АБГШ). Аддитивная модель означает, что шумы складываются с полезным сигналом.</p>
			<p>В итоге на приёмное устройство поступает сигнал, вида s(t) + n(t), где s(t) - полезный сигнал, а n(t) - шумы.</p>
			<p>Схема приёмного устройства представлена на рисунке 3.</p>
			<img id="u3000-80" src="{% static "images/demodul_and_detect.png" %}" alt="demodul_and_detect"/>
			<p id="u3870-32">Рисунок 3 - Схема приёмного устройства</p>
			<p>На приёмном конце Сигнал преобразуется в выборку (этап 1).</p>
			<div id="u3000-50" align="left"><p>2) Допустим, что отношение мощности полезного сигнала к мощности шума равно 12 дБ. При таком отношении SNR сигнал после после прохождения через принимающий фильтр выглядит, как показано на рисунке 4.</p></div><br>
			<img src="{% static "lab1/64-PSKawgnlow.png" %}" alt="64-PSKawgnlow"/>
			<p id="u3870-32">Рисунок 4 - Внешний вид сигнала после принимающего фильтра при SNR = 12 дБ</p>
			<p>Далее сигнал проходит этап 2, т.е. проходит детектирование.</p>
			<p>С помощью сигнального созвездия можно определить, как сигнал будет детектирован.</p>
			<a id="ssilka" href="##" onclick="javascript:showhide('sozvezd_64PSK')"><p>Посмотреть/скрыть сигнальное созвездие для модуляции 64-PSK. (На созвездии решения написаны только для части точек)</p></a>
			<div id="sozvezd_64PSK" style="display:none"><img src="{% static "lab1/64-PSKsozvezd.png" %}" alt="64-PSKsozvezd"/>
			<p id="u3870-32">Рисунок 5 - Сигнальное созвездие для манипуляции 64-PSK</p></div>
			<p>На выходе получается сообщение:</p>
			<p>011011 101010 100000 010111</p>
			<p>Если полученное сообщение сигнал сравнить с входным (011001 101011 100100 011001), то можно заметить, что сообщения не совпадают.</p>
			<p>Это означает, что сигнал слишком зашумлен и детектор не может правильно определить исходное сообщение.</p>
			<div id="u3000-50" align="left"><p>3) Для того, чтобы исходное сообщение можно было почти без ошибок распознать на приёмном конце, необходимо увеличить мощность полезного сигнала, т.е. увеличить значение SNR. Найдем такое значение SNR, при котором вероятность приёма сообщения с ошибкой будет около 0.5%.</p></div>
			<p>В одном сообщении передается N бит информации. N для разного вида манипуляции разное и определяется по формуле ниже, при этом n = log<sub>2</sub>M.</p>
			<img src="{% static "images/formula_N.png" %}" alt="formula_N"/>
			<p>где M - число позиций модулированного сигнала</p>
			<p>При детектировании тысячи сообщений(L=1000), для M-PSK манипуляции вероятность ошибки будет определяться по формуле:</p>
			<div id="u3870-90"><img src="{% static "images/formula_MPSK.png" %}" alt="MPSK"/></div>
			<p>где Ф - функция Лапласа ("интеграл ошибок")</p>
			<p>При детектировании тысячи сообщений(L=1000), для M-QAM манипуляции вероятность ошибки будет определяться по формуле:</p>
			<div id="u3870-90"><img src="{% static "images/formula_MQAM.png" %}" alt="MQAM"/></div>
			<p>где &#951 =  &#8730M - число уровней амплитуды</p>
			<p>Подставив все известные значения нашли такое SNR(35.3 дБ) при котором вероятность ошибки будет равна 0.43%. Таким образом была определена теоретическая вероятность ошибки.</p>
			<p>Передадим 1000 сообщений, длиной по 24 бита, и посмотрим, сколько сообщений будет детектировано с ошибкой.</p>
			<p>Сообщение при 64PSK-манипуляции после прохождения через принимающий фильтр представлено на рисунке 6.</p>
			<img src="{% static "lab1/64-PSKawgnhigh.png" %}" alt="64-PSKawgnhigh"/>
			<p id="u3870-32">Рисунок 6 - Внешний вид сигнала после прохождения через принимающий фильтр, при SNR = 35.3 дБ</p>
			<p>После прохождения сигналом этапа 2, получится сообщение (011001 101011 100100 011001), которое совпадает с исходным. А это означает, что для манипуляции 64-PSK SNR=35.3 дБ позволяет достигнуть маленькой вероятности ошибки.</p>
			<p>После приёма и детектирования всех 1000 сообщений с ошибкой было детектировано 0.53%, что соответствует условию (около 0.5%).</p>
			<div id="u3000-50" align="left"><p>4) После того, как было найдено SNR, при котором вероятность ошибки соответсвует условию, необходимо проделать эту работу ещё для нескольких типов манипуляции и сравнить теоретическую и практическую вероятности ошибок, при полученном SNR.</p></div>
		</div>
		<center><div id="u3300-50">
			<p style="text-align: center; text-indent: 0;"><strong>Выберите тип манипуляции, который будет использоваться.</strong></p>
			<p style="text-align: center; text-indent: 0;"><select required size="1" name="Modulation">
				<option value="2PSK">2-PSK (Фазовая манипуляция)</option>
				<option value="4PSK">4-PSK (Фазовая манипуляция)</option>
				<option value="8PSK">8-PSK (Фазовая манипуляция)</option>
				<option value="16PSK">16-PSK (Фазовая манипуляция)</option>
				<option value="32PSK">32-PSK (Фазовая манипуляция)</option>
				<option value="4QAM">4-QAM (Квадратурно-амплитудная манипуляция)</option>
				<option value="16QAM">16-QAM (Квадратурно-амплитудная манипуляция)</option>
				<option value="64QAM">64-QAM (Квадратурно-амплитудная манипуляция)</option>
				<option value="256QAM">256-QAM (Квадратурно-амплитудная манипуляция)</option>
			</select></p>
			<input class = "button1" type="submit" value="Перейти к практике" id="button1" />
			<input type="hidden" name="snr" value="7"/>
		</div></center>
	</div>
	<script>
		const button = document.querySelector('#button1')
		
		button.addEventListener('click', () => {
			const loader = document.querySelector('.loader')
			loader.classList.add('enabled')
			var e = document.getElementById('load');
			e.style.display = (e.style.display == 'block') ? 'none' : 'block';
		})
		
		function showhide(id) {
			var e = document.getElementById(id);
			e.style.display = (e.style.display == 'block') ? 'none' : 'block';
		 }
	</script>
</form>
{% endblock content %}