html,
body {
    height: 100%;
}

.main-content {
    position: relative;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.card {
    border: double 10px rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 0.5em;
    margin: 1em;
    background: rgba(255, 255, 255, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
}

.card-header {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
}

.card-body {
    text-align: justify;
    line-height: 20px;
    font-weight: 400;
    margin: 0 10px;
    padding: 0;
}

.footer {
    border: solid 4px rgba(210, 105, 80, 0.8);
    border-radius: 5px;
    text-align: justify;
    background: rgba(255, 255, 255, 1);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.text-indent {
    text-indent: 1.5em;
}

.bordered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px rgba(105, 255, 255, 0.8);
    border-radius: 15px;
    max-width: 600px;
}

.image-caption {
    text-align: center;
    font-style: normal;
    line-height: 20px;
    font-weight: 600;
    margin: 0 1em;
    padding: 6px;
}

.formula-image {
    border: solid 4px rgba(255,255,255,1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

/*Фон для текста в теории*/
#u3870-30 {
    border: double 10px rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 110%; /* Размер шрифта в процентах */
}

/*Текст в теории*/
#u3870-33 {
    text-align: justify;
    font-style: normal;
    line-height: 20px;
    text-indent: 40px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
}

/*Заголовок в теории*/
#u3870-311 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
}

/*Картинка в теории*/
#u3870-20 {
    border: solid 5px rgba(105, 255, 255, 0.8);
    border-radius: 15px;
    max-width: 600px;
}

#u3870-00 {
    border: solid 5px rgba(105, 255, 255, 0.8);
    border-radius: 15px;
}

/*Название рисунка в теории*/
#u3870-32 {
    text-align: center;
    font-style: normal;
    line-height: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
}

/*Для формул*/
#u3870-90 {
    border: solid 4px rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}


/*ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/
/*Общее наполнение гл.*/
#u2000-10 {
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
    margin-left: 0px;
    margin-right: 0px;
}

/*Картинка гл.*/
#u2000-20 {
    border: solid 5px rgba(105, 255, 255, 0.8);
    border-radius: 15px;
    width: 600px;
    height: 600px;
}

/*Название гл.*/
#u2000-32 {
    text-align: center;
    font-style: normal;
    line-height: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
}


/*ДЛЯ ТЕСТА*/

/*Фон для текста в тесте*/
#u3700-30 {
    border: double 10px rgba(150, 30, 100, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 650px;
    width: 70%;
    background: rgba(255, 255, 180, 0.9);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 120%; /* Размер шрифта в процентах */
}

/*Общее наполнение в тесте*/
#u3700-10 {
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
    margin-left: 0px;
    margin-right: 0px;
}

/*Фон для Заголовка в тесте*/
#u3700-25 {
    border: solid 6px rgba(210, 105, 30, 0.8);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: calc(100% - 60px);
    min-width: 650px;
    background: rgba(0, 255, 255, 0.8);
    background-clip: padding-box;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}

/*Фон для Авторизации в тесте*/
#u3700-50 {
    border: solid 6px rgba(210, 105, 30, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 500px;
    background: rgba(255, 255, 30, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 120%; /* Размер шрифта в процентах */
}

/*Фон для Результатов*/
#u4000-50 {
    border: solid 6px rgba(210, 105, 30, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 600px;
    background: rgba(255, 255, 30, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 120%; /* Размер шрифта в процентах */
}


/*ДЛЯ ЛАБОРАТОРОК*/
/*Фон для первоначального выбора в лабе 1*/
#u3300-50 {
    border: solid 6px rgba(210, 105, 30, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 600px;
    background: rgba(255, 255, 30, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 120%; /* Размер шрифта в процентах */
}

/*Для лабы 2*/
#u3000-30 {
    border: double 10px rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 110%; /* Размер шрифта в процентах */
}

#u3000-31 {
    border: double 10px rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 110%; /* Размер шрифта в процентах */
}

#u3000-50 {
    border: double 10px rgba(150, 30, 100, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    min-width: 620px;
    width: 70%;
    background: rgba(255, 255, 180, 0.9);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
}

#u3000-40 {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 6px;
}

#u3000-80 {
    border: solid 5px rgba(105, 255, 255, 0.8);
    border-radius: 15px;
    background-size: cover;
    max-width: calc(100% - 100px);
}

/* Для результатов теста из базы данных */
#u5000-50 {
    border: double 10px rgba(150, 30, 100, 0.8);
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    min-width: 700px;
    margin-top: 40px;
    width: 80%;
    background: rgba(255, 255, 180, 0.9);
    background-clip: padding-box;
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
}