{% extends "detect/base.html" %}
{% load static %}

{% block extrascript %}
    <script>
        function collapse(elementId) {
            let e = document.getElementById(elementId)
            e.style.display = (e.style.display === 'block') ? 'none' : 'block'
        }

        function showLoader() {
            let loader = document.querySelector('.loader')
            loader.classList.add('enabled')
            collapse('loader-bg')
        }
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .loader {
            z-index: 10;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -60px;
            margin-top: -60px;
            display: none;
        }

        .loader.enabled {
            display: block;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            opacity: 1;
        }

        #loader-bg {
            position: fixed;
            z-index: 9;
            display: none;
            background-color: black;
            background-size: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .link-red {
            color: red; /* Цвет обычной ссылки */
            text-decoration: none; /* Убираем подчеркивание у ссылок */
            font-weight: bold;
        }

        .link-red:hover {
            color: Darkred; /* Цвет ссылки при наведении на нее курсора мыши */
            text-decoration: underline; /* Добавляем подчеркивание */
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body-start %}
    <div class="loader"></div>
    <div id="loader-bg"></div>
{% endblock %}

{% block secondary-navbar %}
    <nav class="bot-menu">
        <ul class="menu-dop">
            <li><a href="{% url 'detect:laboratory1' %}">1. Задание1 </a></li>
            <li><a id="tap_lab2" href="{% url 'detect:laboratory2' %}">2. Задание2 </a></li>
            <li><a href="{% url 'detect:laboratory3' %}">3. Задание3 </a></li>
            <li><a href="{% url 'detect:laboratory4' %}">4. Задание4 </a></li>
        </ul>
    </nav>
{% endblock %}
