{% extends "detect/base.html" %}
{% load static %}

{% block content %}
    <div class="card-info-bold">{{ len_DB }}{{ zagolovok }}</div>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ id }}"/>
        <div class="card-interaction">
            <table>
                <div class="text-center"><b>{{ result }}</b></div>
                {{ form }}
            </table>
        </div>
        {% for i in voprosi %}
            {% if i.6 == '0' %}
                <div class="card-content-info size120"><b>{{ i.5 }}. {{ i.0 }}</b><br>
                    <input required type="radio" id="{{ i.5 }}{{ i.1 }}" name="{{ i.5 }}"
                           value="{{ i.1 }}"/>
                    <label for="{{ i.5 }}{{ i.1 }}">{{ i.1 }}</label>

                    <br><input required type="radio" id="{{ i.5 }}{{ i.2 }}" name="{{ i.5 }}"
                               value="{{ i.2 }}"/>
                    <label for="{{ i.5 }}{{ i.2 }}">{{ i.2 }}</label>

                    <br><input required type="radio" id="{{ i.5 }}{{ i.3 }}" name="{{ i.5 }}"
                               value="{{ i.3 }}"/>
                    <label for="{{ i.5 }}{{ i.3 }}">{{ i.3 }}</label>

                    <br><input required type="radio" id="{{ i.5 }}{{ i.4 }}" name="{{ i.5 }}"
                               value="{{ i.4 }}"/>
                    <label for="{{ i.5 }}{{ i.4 }}">{{ i.4 }}</label>
                </div>
            {% else %}
                <div class="card-content-info size120"><b>{{ i.5 }}. {{ i.0 }}</b><br>
                    <img class="bordered-image" style="margin-left: 0;" src={{ i.6 }} alt="{{ i.6 }}"/>
                    <input required type="radio" id="{{ i.5 }}{{ i.1 }}" name="{{ i.5 }}"
                           value="{{ i.1 }}"/>
                    <label for="{{ i.5 }}{{ i.1 }}">{{ i.1 }}</label>

                    <br><input required type="radio" id="{{ i.5 }}{{ i.2 }}" name="{{ i.5 }}"
                               value="{{ i.2 }}"/>
                    <label for="{{ i.5 }}{{ i.2 }}">{{ i.2 }}</label>

                    <br><input required type="radio" id="{{ i.5 }}{{ i.3 }}" name="{{ i.5 }}"
                               value="{{ i.3 }}"/>
                    <label for="{{ i.5 }}{{ i.3 }}">{{ i.3 }}</label>

                    <br><input required type="radio" id="{{ i.5 }}{{ i.4 }}" name="{{ i.5 }}"
                               value="{{ i.4 }}"/>
                    <label for="{{ i.5 }}{{ i.4 }}">{{ i.4 }}</label>
                </div>
            {% endif %}
        {% endfor %}
        <div class="text-center" style="margin: 0 1em 1em 1em">
            <button name="submit_button" style="width: 50%; padding: 10px 0;" type="submit" class="orange-button">
                Проверить
            </button>
        </div>
    </form>
{% endblock %}
