{% extends "detect/base_laborathory.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="card-content">
        <form method="POST">
            {% csrf_token %}
            <p class="text-center font-weight-bold h3">Практическое задание 1 (пример выполнения)</p>
            <p class="text-center font-weight-bold h4">"Изучение влияния SNR на качество детектирования"</p>
            <div class="card-content-body">
                <div class="card-content-info">
                    <p class="text-indent">
                        В данной работе Вам надо будет изучить влияние SNR на качество
                        детектирования.
                    </p>
                    <p class="text-indent">
                        Вам необходимо будет проделать работу несколько раз для разных типов манипуляции,
                        при этом, рассчитать такое значение SNR, при котором вероятность приёма сообщения с ошибкой
                        будет примерно равна 0.5%. Пример выполнения работы представлен ниже.
                    </p>
                    <div class="text-center">
                        <a class="link-red" href="##" onclick="collapse('example')">Показать/скрыть пример.</a>
                    </div>
                </div>
                <div id="example" style="display:block">
                    <p>
                        0) Как только Вы приступите к практике, будет сформирован случайный сигнал из последовательности
                        "0" и "1".
                    </p>
                    <p>Допустим было сформировано сообщение: 011001 101011 100100 011001</p>
                    <p>
                        Данное сообщение поступает на "передающее устройство", где проходит процесс манипуляции.
                        Схема сети представлена на рисунке 1.
                    </p>
                    <img class="bordered-image" src="{% static "detect/images/lab1_shema_seti.png" %}"
                         alt="lab1_shema_seti"/>
                    <p class="image-caption">Рисунок 1 - Схема сети</p>
                    <div class="card-content-info">
                        <p class="text-indent">
                            1) Изначально необходимо выбрать тип манипуляции, для которого Вы будете подбирать SNR.
                        </p>
                    </div>
                    <p class="text-center font-weight-bold h4">Выбранный тип манипуляции - M-PSK, где M = 64</p>
                    <p>
                        Исходное сообщение прошло через процесс манипуляции 64-PSK. Внешний вид получившегося
                        сигнала представлен на рисунке 2.
                    </p>
                    <img class="bordered-image" src="{% static "detect/lab1/64-PSKmod.png" %}" alt="64-PSKmod"/>
                    <p class="image-caption">Рисунок 2 - Внешний вид сигнала, после прохождения процесса манипуляции</p>
                    <p>
                        После передающего устройства сигнал проходит через канал связи и попадает на приемное
                        устройство. В канале связи на сигнал воздействуют разные помехи. В итоге сигнал
                        получается зашумленным.
                    </p>
                    <p>
                        В качестве базовой модели канала связи используется канал с аддитивным белым гауссовским
                        шумом (АБГШ). Аддитивная модель означает, что шумы складываются с полезным сигналом.
                    </p>
                    <p>
                        В итоге на приёмное устройство поступает сигнал, вида s(t) + n(t), где s(t) - полезный
                        сигнал, а n(t) - шумы.
                    </p>
                    <p>Схема приёмного устройства представлена на рисунке 3.</p>
                    <img class="bordered-image" src="{% static "detect/images/demodul_and_detect.png" %}"
                         alt="demodul_and_detect"/>
                    <p class="image-caption">Рисунок 3 - Схема приёмного устройства</p>
                    <p>На приёмном конце Сигнал преобразуется в выборку (этап 1).</p>
                    <div class="card-content-info">
                        <p class="text-indent">
                            2) Допустим, что отношение мощности полезного сигнала к мощности шума равно 12 дБ.
                            При таком отношении SNR сигнал после прохождения через принимающий фильтр выглядит,
                            как показано на рисунке 4.
                        </p>
                    </div>
                    <br>
                    <img class="bordered-image" src="{% static "detect/lab1/64-PSKawgnlow.png" %}" alt="64-PSKawgnlow"/>
                    <p class="image-caption">
                        Рисунок 4 - Внешний вид сигнала после принимающего фильтра при SNR = 12 дБ
                    </p>
                    <p>Далее сигнал проходит этап 2, т.е. проходит детектирование.</p>
                    <p>С помощью сигнального созвездия можно определить, как сигнал будет детектирован.</p>
                    <a class="link-red" href="##" onclick="collapse('sozvezd_64PSK')">
                        <p>
                            Посмотреть/скрыть сигнальное созвездие для модуляции 64-PSK. (На созвездии решения
                            написаны только для части точек)
                        </p>
                    </a>
                    <div id="sozvezd_64PSK" style="display:none">
                        <img class="bordered-image" src="{% static "detect/lab1/64-PSKsozvezd.png" %}"
                             alt="64-PSKsozvezd"/>
                        <p class="image-caption">Рисунок 5 - Сигнальное созвездие для манипуляции 64-PSK</p>
                    </div>
                    <p>На выходе получается сообщение:</p>
                    <p>011011 101010 100000 010111</p>
                    <p>
                        Если полученное сообщение сигнал сравнить с входным (011001 101011 100100 011001), то
                        можно заметить, что сообщения не совпадают.
                    </p>
                    <p>
                        Это означает, что сигнал слишком зашумлен и детектор не может правильно определить
                        исходное сообщение.
                    </p>
                    <div class="card-content-info">
                        <p class="text-indent">
                            3) Для того, чтобы исходное сообщение можно было почти без ошибок распознать на
                            приёмном конце, необходимо увеличить мощность полезного сигнала, т.е. увеличить
                            значение SNR. Найдем такое значение SNR, при котором вероятность приёма сообщения
                            с ошибкой будет около 0.5%.
                        </p>
                    </div>
                    <p>
                        В одном сообщении передается N бит информации. N для разного вида манипуляции разное и
                        определяется по формуле ниже, при этом n = log<sub>2</sub>M.
                    </p>
                    <div class="formula-image"><img src="{% static "detect/images/formula_N.png" %}" alt="formula_N"/>
                    </div>
                    <p>где M - число позиций модулированного сигнала</p>
                    <p>
                        При детектировании тысячи сообщений(L=1000), для M-PSK манипуляции вероятность ошибки
                        будет определяться по формуле:
                    </p>
                    <div class="formula-image"><img src="{% static "detect/images/formula_MPSK.png" %}" alt="MPSK"/>
                    </div>
                    <p>где Ф - функция Лапласа ("интеграл ошибок")</p>
                    <p>
                        При детектировании тысячи сообщений(L=1000), для M-QAM манипуляции вероятность ошибки
                        будет определяться по формуле:
                    </p>
                    <div class="formula-image"><img src="{% static "detect/images/formula_MQAM.png" %}" alt="MQAM"/>
                    </div>
                    <p>где &#951 = &#8730M - число уровней амплитуды</p>
                    <p>
                        Подставив все известные значения нашли такое SNR(35.3 дБ) при котором вероятность ошибки
                        будет равна 0.43%. Таким образом была определена теоретическая вероятность ошибки.
                    </p>
                    <p>
                        Передадим 1000 сообщений, длиной по 24 бита, и посмотрим, сколько сообщений будет
                        детектировано с ошибкой.
                    </p>
                    <p>
                        Сообщение при 64PSK-манипуляции после прохождения через принимающий фильтр представлено
                        на рисунке 6.
                    </p>
                    <img class="bordered-image" src="{% static "detect/lab1/64-PSKawgnhigh.png" %}"
                         alt="64-PSKawgnhigh"/>
                    <p class="image-caption">
                        Рисунок 6 - Внешний вид сигнала после прохождения через принимающий фильтр, при
                        SNR = 35.3 дБ
                    </p>
                    <p>
                        После прохождения сигналом этапа 2, получится сообщение (011001 101011 100100 011001),
                        которое совпадает с исходным. А это означает, что для манипуляции 64-PSK SNR=35.3 дБ
                        позволяет достигнуть маленькой вероятности ошибки.
                    </p>
                    <p>
                        После приёма и детектирования всех 1000 сообщений с ошибкой было детектировано 0.53%,
                        что соответствует условию (около 0.5%).
                    </p>
                    <div class="card-content-info">
                        <p class="text-indent">
                            4) После того, как было найдено SNR, при котором вероятность ошибки соответствует
                            условию, необходимо проделать эту работу ещё для нескольких типов манипуляции и
                            сравнить теоретическую и практическую вероятности ошибок, при полученном SNR.
                        </p>
                    </div>
                </div>
                <div class="card-interaction" style="margin-bottom: 20px; margin-top: 40px">
                    <p class="text-center">
                        <strong>Выберите тип манипуляции, который будет использоваться.</strong>
                    </p>
                    <div class="text-center">
                        {% bootstrap_field form.modulation show_label=False %}
                        <button class="orange-button" type="submit" onclick="showLoader()">
                            Перейти к выполнению задания 1
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
