{% extends "detect/base_laborathory.html" %}

{% block content %}
    {% if request.user.lab2_is_complete %}
        <div class="card-content-info" style="text-transform: uppercase; text-align: center; font-weight: 600;">
            Вы успешно детектировали все 3 сигнала. Зафиксируйте результат и можете перейти к следующей практике!
        </div>
    {% elif request.method == "POST" and not request.user.lab2_is_complete %}
        <div class="card-content-info" style="text-transform: uppercase; text-align: center; font-weight: 600;">
            У вас не удалось детектировать все сигналы, попробуйте ещё раз!
        </div>
    {% endif %}
    <div class="card-content" id="lab2-example"
         style="display:{% if request.method == "POST" %}none{% else %}block{% endif %}">
        <p class="text-center font-weight-bold h3">Практическое задание 2 (пример выполнения)</p>
        <p class="text-center font-weight-bold h4">"Детектирование сигналов, используя сигнальное созвездие"</p>
        <div class="card-content-body">
            <div class="card-content-info">
                <p class="text-indent">
                    В данной работе Вам надо будет выступить в роли детектора и определить, какой сигнал будет на
                    выходе.
                </p>
            </div>
            <p>Пример выполнения задания: </p>
            <p>Дан сигнал, который после воздействия шума и прохождения через принимающий фильтр выглядит как
                показано на рисунке 1.</p>
            <img class="bordered-image" src="/static/detect/lab2_signal.png" alt="/static/detect/lab2_signal.png"/>
            <p class="image-caption">Рисунок 1 - Внешний вид сигнала</p>
            <p>Данный сигнал на сигнальном созвездии выглядит, как показано на рисунке 2</p>
            <img class="bordered-image" src="/static/detect/lab2_stars.png" alt="/static/detect/lab2_stars.png"/>
            <p class="image-caption">Рисунок 2 - Сигнальное созвездие</p>
            <div class="card-content-info">
                <p>Процесс детектирования:</p>
                <p>1) Определяем цвет первого символа сигнала. На рисунке с сигналом видно, что первый символ
                    выделен синим цветом.</p>
                <p>2) Ищем на сигнальном созвездии синюю точку.</p>
                <p>3) Определяем, в какой области решений находится синяя точка. Как видно, синяя точка находится
                    ближе к [0], значит первым символом сообщения является "0".</p>
                <p>4) Смотрим цвет второго символа</p>
                <p>5) Определяем, что вторым символом является "1"</p>
                <p>6) Определяем, какому значению соответствуют остальные символы сигнала.</p>
                <p>После детектирования всех символов получилось сообщение: </p>
                <p style="background-color: white;">011010001</p>
            </div>
            <div class="text-center">
                <a href="#" class="orange-button" onclick="collapse('lab2-example'); collapse('lab2')">
                    Перейти к практике
                </a>
            </div>
        </div>
    </div>
    <div class="card-content" id="lab2" style="display:{% if request.method == "POST" %}block{% else %}none{% endif %}">
        <form method="POST">
            {% csrf_token %}
            <p class="text-center font-weight-bold h3">Практическое задание 2</p>
            <p class="text-center font-weight-bold h4">"Детектирование сигналов, используя сигнальное созвездие"</p>
            <div class="card-content-body">
                <div class="card-content-info">
                    <p>В данной работе Вам надо будет выступить в роли детектора и определить, какой сигнал будет на
                        выходе.</p>
                    <p>Демодулируйте каждый из 3 сигналов. Полученный демодулированный сигнал необходимо записывать в
                        поле для ввода. Учтите, что записывать ответ необходимо без пробелов и других посторонних
                        символов!</p>
                </div>
                <div>
                    {% for lab2 in lab2_tasks %}
                        <p>{{ forloop.counter }}) Сигнал {{ forloop.counter }} после воздействия шума и пропускания
                            через принимающий фильтр выглядит так:</p>
                        <img class="bordered-image" src="{{ lab2.signal_image.url }}"
                             alt="{{ lab2.signal_image.url }}"/>
                        <p class="image-caption">Рисунок {{ forloop.counter }}.1 - Внешний вид
                            сигнала {{ forloop.counter }}</p>
                        <img class="bordered-image" src="{{ lab2.stars_image.url }}" alt="{{ lab2.stars_image.url }}"/>
                        <p class="image-caption">Рисунок {{ forloop.counter }}.2 - Сигнальное созвездие для
                            сигнала {{ forloop.counter }}</p>
                        <p>Введите значение сигнала {{ forloop.counter }}:
                            <input autocomplete="off" name="{{ lab2.modulation }}" type="text" size="40"
                                   placeholder="Пример ввода: 01101000110101"
                                    {% if lab2.is_complete %}
                                   class="form-control is-valid" value="{{ lab2.signal }}" disabled
                                    {% else %}
                                   class="form-control" required
                                    {% endif %}/>
                        </p>
                    {% endfor %}
                    <p>После того, как Вы детектируете все 3 сигнала, нажмите кнопку "Проверить".</p>
                    <div class="text-center" style="margin-bottom: 1em">
                        <button type="submit" class="orange-button" style="width: 50%">Проверить</button>
                    </div>
                    <p>Вы можете посмотреть пример выполнения задания, нажав на кнопку ниже (все введенные значения
                        сохранятся).</p>
                    <div class="text-center">
                        <a href="#" class="button2" onclick="collapse('lab2-example'); collapse('lab2')">
                            Показать пример
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
