{% extends "detect/base_laborathory.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    {% if request.user.lab1_is_complete %}
        <div class="card-content-info" style="text-transform: uppercase; text-align: center; font-weight: 600;">
            Вы успешно подобрали SNR для 3 видов сигналов. Зафиксируйте результат и можете перейти к следующей практике!
        </div>
    {% endif %}
    <div class="card-content">
        <p class="text-center font-weight-bold h3">Практическое задание 1</p>
        <p class="text-center font-weight-bold h4">"Изучение влияния SNR на качество детектирования"</p>
        <div class="card-content-body">
            <p id="u3870-311">Выбранный тип модуляции: {{ modulation }}</p>
            <p>Исходное сообщение, которое будет передаваться по каналу связи: {{ original_message }}</p>
            <p>Это сообщение поступает на передающее устройство.</p>
            <p>Внешний вид сообщения после манипуляции {{ modulation }} представлен на рисунке 1.</p>
            <img class="bordered-image" src="{{ path_to_modulated_signal }}" alt="{{ path_to_modulated_signal }}"/>
            <p class="image-caption">Рисунок 1 - Внешний вид сообщения после манипуляции {{ modulation }}</p>
            <p>Далее этот сигнал передается по каналу связи. В процессе передачи к сигналу добавляются шумы (отношение
                Сигнал/Шум SNR={{ snr }} дБ). На приёмном устройстве, сигнал, после прохождения через принимающий
                фильтр, примет вид, изображенный на рисунке 2.</p>
            <img class="bordered-image" src="{{ path_to_signal_with_gauss }}" alt="{{ path_to_signal_with_gauss }}"/>
            <p class="image-caption">Рисунок 2 - Внешний вид сообщения после манипуляции {{ modulation }} при
                SNR={{ snr }} дБ</p>
            <p><a class="link-red" href="##" onclick="collapse('OBL')">Сигнальное созвездие, по которому
                определяется выходное сообщение, для данного типа манипуляции представлено на рисунке 3: (нажмите, чтобы
                посмотреть)</a></p>
            <div id="OBL" style="display:none">
                <img class="bordered-image" src="{{ modulation_image_path }}" alt="{{ modulation_image_path }}"/>
                <p class="image-caption">Рисунок 3 - Сигнальное созвездие для {{ modulation }} манипуляции</p>
            </div>
            <p>После этапа преобразования сигнала в выборку, происходит процесс детектирования. Сообщение, полученное
                после детектирования:</p>
            <p>{{ demodulated_message }}</p>
            <p>Для сравнения - исходное сообщение:</p>
            <p>{{ original_message }}</p>
            {% if is_complete %}
                <div class="card-content-info">
                    <p class="text-indent">
                        Вы справились с заданием, вы подобрали такое SNR, при котором при детектировании 1000 сообщений,
                        с ошибкой было детектировано всего {{ percent_errors }}%, что соответствует условию
                        'около 0.5%'. Зафиксируйте полученный результат.
                    </p>
                </div>
                <p>Нажмите на кнопку ниже, чтобы перейти к выполнению следующего задания.</p>
                <div class="text-center mt-2">
                    <a class="orange-button" href="{% url 'detect:laboratory1' %}">Вернуться к заданию 1</a>
                </div>
            {% else %}
                <p>Как видно из рассуждений выше SNR = {{ snr }} дБ не подходит для выполнения условий
                    при {{ modulation }} манипуляции. Рассчитайте какое должно быть SNR (формулы для
                    расчёта есть на первой странице "Задания 1"), чтобы получить вероятность ошибки 0.5% и подставьте в
                    окно ввода SNR ниже.</p>
                <p><a class="link-red" href="##" onclick="collapse('formula')">Формула для расчёта вероятности
                    ошибок (нажмите, чтобы посмотреть)</a></p>
                <div id="formula" style="display:none">
                    {% if modulat == "PSK" %}
                        <div class="formula-image"><img src="{% static "detect/images/formula_MPSK.png" %}" alt="MPSK"/></div>
                    {% else %}
                        <div class="formula-image"><img src="{% static "detect/images/formula_MQAM.png" %}" alt="MQAM"/></div>
                    {% endif %}
                </div>
                <div class="card-content-info">
                    <p class="text-indent">
                        Продолжайте подбирать SNR. Из 1000 переданных сообщений с ошибкой было детектировано
                        {{ percent_errors }}%, а вам необходимо подобрать такое SNR, при котором вероятность
                        детектирования сообщения с ошибкой будет 'около 0.5%'
                    </p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_field form.modulation show_label=False form_group_class="d-none" %}
                    <div>Выберите, какое отношение Сигнал/Шум (SNR) вы хотите сделать:</div>
                    <div class="d-flex">
                        {% bootstrap_field form.snr show_label=False form_group_class="d-inline-block" %}
                        <div class="d-inline-bock">дБ</div>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="orange-button">Проверить</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
