{% extends "detect/base_laborathory.html" %}

{% block content %}
    {% if request.user.lab4_is_complete %}
        <div class="card-content-info" style="text-transform: uppercase; text-align: center; font-weight: 600;">
            Вы успешно детектировали сигнал. Зафиксируйте результат и можете перейти к тестированию!
        </div>
    {% elif request.method == "POST" and not request.user.lab4_is_complete %}
        <div class="card-content-info" style="text-transform: uppercase; text-align: center; font-weight: 600;">
            У вас не удалось детектировать сигнал, попробуйте ещё раз!
        </div>
    {% endif %}
    <div class="card-content" id="lab4-example"
         style="display:{% if request.method == "POST" %}none{% else %}block{% endif %}">
        <p class="text-center font-weight-bold h3">Практическое задание 4(пример выполнения)</p>
        <p class="text-center font-weight-bold h4">"Реализация OFDM демодулятора в MATLAB или Python"</p>
        <div class="card-content-body">
            <div class="card-content-info">
                <p class="text-indent">
                    В данной работе Вам надо будет изучить принцип работы QPSK детектора и смоделировать его в Python
                    или MATLAB.
                </p>
            </div>
            <p>Упрощенная схема передачи с OFDM-модулятором представлена на рисунке 1.</p>
            <img class="bordered-image" src="/static/detect/images/lab4_OFDMmodulation.png"
                 alt="/static/detect/images/lab4_OFDMmodulation.png"/>
            <p class="image-caption">Рисунок 1 - Упрощённая схема передатчика с OFDM-модулятором</p>
            <p>Как видно из рисунка 1, входное сообщение сначала преобразуется из последовательного кода в
                параллельный. Затем параллельный код проходит процессы модуляции и обратного преобразования
                Фурье. После ОБПФ параллельный код преобразуется в последовательный. После OFDM-модуляции сигнал
                поступает на ЦАП, а затем в канал связи.</p>
            <p>На рисунке 2 представлен передатчик с OFDM-модулятором. Данный OFDM-модулятор состоит из:
                1)преобразователя кода, 2)четырёх QPSK-модуляторов, 3)четырёх блоков с ОБПФ, 4)преобразователя
                кода</p>
            <p>Необходимо смоделировать на языке Python или MATLAB OFDM-демодулятор, который будет детектировать
                сигналы, отправленные с передатчика, изображенного на рисунке 2.</p>
            <img class="bordered-image" src="/static/detect/images/lab4_OFDM(4QPSK)modulation.png"
                 alt="/static/detect/images/lab4_OFDM(4QPSK)modulation.png"/>
            <p class="image-caption">Рисунок 2 - Передатчик с OFDM-модулятором, в состав которого входит четыре
                QPSK-модулятора</p>
            <p>Допустим, на приёмник поступил сигнал, представленный на рисунке 3. Данный сигнал на выходе АЦП
                выглядит: </p>
            <p>1.01659295 +0.3301685j</p>
            <p>0.312727 -0.64609173j</p>
            <p>-0.33442137 -0.32370712j</p>
            <p>-0.32960384 +0.0235889j</p>
            <p>-0.5795372 +0.33914848j</p>
            <p>-0.46384557 +0.11455998j</p>
            <p>-0.92402604 +0.24480122j</p>
            <p>-0.30071897 -0.58288209j</p>
            <p>0.62175133 +0.34125535j</p>
            <p>0.1206058 -0.43642j</p>
            <p>0.25521732 -0.9055472j</p>
            <p>-0.35205805 +0.60033668j</p>
            <img class="bordered-image" src="/static/detect/images/lab4_OFDM(4QPSK)signal.png"
                 alt="/static/detect/images/lab4_OFDM(4QPSK)signal.png"/>
            <p class="image-caption">Рисунок 3 - Сигнал, поступивший на приёмник</p>
            <p>Стоит отметить, что сигнал выглядит в форме ломаной потому, что он имеет малую длительность.
                Сигнал с большей длительностью представлен на странице, которая откроется после нажатия на
                кнопку "Проверить".</p>
            <p>После детектирования получим сигнал: 100110011011111110000001</p>
            <div class="card-content-info">
                <p>Необходимо смоделировать на языке Python или MATLAB OFDM-демодулятор, на вход которого будет
                    поступать сигнал отправленный с передатчика, изображенного на рисунке 2.</p>
                <p>1) Входные данные (копируются в вашу программу): список из комплексных чисел.</p>
                <p>2) Необходимо детектировать сигнал, состоящий из этих комплексных чисел. Для
                    OFDM-демодулятора можно использовать QPSK-демодулятор, смоделированный в задании 3.</p>
                <p>4) Должно получиться сообщение, состоящее из "0" и "1".</p>
                <p>5) Выходные данные (их необходимо ввести в поле для ввода): последовательность из "0" и
                    "1".</p>
                <p>6) Для проверки детектора нажмите кнопку "Проверить", вам будет представлен список
                    комплексных чисел, нужно будет получить сигнал после детектирования и ввести полученный
                    результат в поле для ввода.</p>
            </div>
            <div class="text-center">
                <a href="#" class="orange-button" onclick="collapse('lab4-example'); collapse('lab4')">
                    Перейти к практике
                </a>
            </div>
        </div>
    </div>
    <div class="card-content" id="lab4" style="display:{% if request.method == "POST" %}block{% else %}none{% endif %}">
        <form method="POST">
            {% csrf_token %}
            <p class="text-center font-weight-bold h3">Практическое задание 4</p>
            <p class="text-center font-weight-bold h4">"Реализация OFDM-демодулятора в MATLAB или Python"</p>
            <div class="card-content-body">
                <div class="card-content-info">
                    <p class="text-indent">
                        Для проверки работы детектора скопируйте входные данные в код с вашим детектором, а потом
                        вставьте выходные данные в поле для ввода.
                    </p>
                </div>
                <p>Сигнал, поступивший на приёмник представлен на рисунке 1.</p>
                <img class="bordered-image" src="{{ lab4.signal_image.url }}" alt="{{ lab4.signal_image.url }}"/>
                <p class="image-caption">Рисунок 1 - Сигнал, поступивший на приёмник</p>
                <a class="link-red" href="##" onclick="collapse('signal')">
                    Входные данные (нажмите, чтобы посмотреть): {# todo button for text copy #}
                </a>
                <div id="signal" style="display:none">
                    <p>{{ lab4.signal_complex }}</p>
                </div>
                <p>Введите получившееся сообщение:
                    <input autocomplete="off" name="signal" type="text" size="40"
                           placeholder="Пример ввода: 01101000110101"
                            {% if lab4.is_complete %}
                           class="form-control is-valid" value="{{ lab4.signal }}" disabled
                            {% else %}
                           class="form-control" required
                            {% endif %}/>
                </p>
                <p>После того, как Вы детектируете сигнал, нажмите кнопку "Проверить".</p>
                <div class="text-center">
                    <button type="submit" class="orange-button" style="width: 50%">Проверить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
