{% extends "detect/base_theory.html" %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ header }}</div>
        <div class="card-body">
            {% for line in text %}
                {% if line == text.1 %}
                    <img class="bordered-image" src="{% static "detect/images/classification.png" %}" alt="classification"/>
                {% elif line == text.2 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.9 %}
                    <div class="formula-image"><img src="{% static "detect/images/formula_filter.png" %}" alt="formula_filter"/></div>
                {% elif line == text.13 %}
                    <img class="bordered-image" src="{% static "detect/images/impuls.png" %}" alt="impuls"/>
                {% elif line == text.14 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.19 %}
                    <img class="bordered-image" src="{% static "detect/images/impuls_sogl.png" %}" alt="impuls_sogl"/>
                {% elif line == text.20 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.25 %}
                    <div class="formula-image"><img src="{% static "detect/images/formula_correl.png" %}" alt="formula_correl"/></div>
                {% elif line == text.29 %}
                    <img class="bordered-image" src="{% static "detect/images/correl_priem.png" %}" alt="correl_priem"/>
                {% elif line == text.30 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.36 %}
                    <img class="bordered-image" src="{% static "detect/images/sravn_vih.png" %}" alt="sravn_vih"/>
                {% elif line == text.37 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.40 %}
                    <img class="bordered-image" src="{% static "detect/images/obl_resh.png" %}" alt="obl_resh"/>
                {% elif line == text.41 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.46 %}
                    <img class="bordered-image" src="{% static "detect/images/QAM_dem.png" %}" alt="QAM_dem"/>
                {% elif line == text.47 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.53 %}
                    <img class="bordered-image" src="{% static "detect/images/OFDM_dem.png" %}" alt="OFDM_dem"/>
                {% elif line == text.54 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.61 %}
                    <img class="bordered-image" src="{% static "detect/images/amp_det.png" %}" alt="amp_det"/>
                {% elif line == text.62 %}
                    <p class="image-caption">{{ line }}</p>
                {% else %}
                    <p class="text-indent">{{ line }}</p>
                {% endif %}
            {% endfor %}
            <div class="text-center">
                <a href="#" class="button">Наверх</a>
            </div>
        </div>
    </div>
{% endblock content %}
