{% extends "detect/base_theory.html" %}
{% load static %}
{% block content %}
    <div class="card-content">
        <div class="text-center font-weight-bold h3">{{ header }}</div>
        <div class="card-content-body">
            {% for line in text %}
                {% if line == text.0 %}
                    <img class="bordered-image" src="{% static "detect/images/shema_peredachi.png" %}"
                         alt="Схема передачи"/>
                {% elif line == text.1 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.3 %}
                    <p class="text-indent">
                        Исходная информация сначала преобразуется в двоичные цифры (биты); после этого биты группируются
                        в цифровые сообщения или символы сообщений. Каждый такой символ (m<sub>i</sub> где i = 1,...,M)
                        можно рассматривать как элемент конечного алфавита, содержащего М элементов. Поскольку символы
                        сообщений могут состоять из одного бита или группы битов, последовательность подобных символов
                        называется потоком битов.
                    </p>
                    <img class="bordered-image" src="{% static "detect/images/isbit_forsimv.png" %}"
                         alt="isbit_forsimv"/>
                {% elif line == text.7 %}
                    <p class="text-indent">
                        Импульсная модуляция − это еще один необходимый этап, поскольку каждый символ, который требуется
                        передать, вначале нужно преобразовать из двоичного представления (уровни напряжений представляют
                        двоичные нули и единицы) в форму узкополосного сигнала. После импульсной модуляции каждый
                        символ сообщения или канальный символ принимает форму полосового сигнала g<sub>i</sub>(t),
                        где i=1,...,M. В любой электронной реализации поток битов, предшествующий импульсной модуляции,
                        представляется уровнями напряжений.
                    </p>
                {% elif line == text.8 %}
                    <img class="bordered-image" src="{% static "detect/images/polos_modul.png" %}" alt="polos_modul"/>
                    <p class="text-indent">
                        Для приложений, включающих передачу в диапазоне радиочастот, следующим важным этапом
                        является полосовая модуляция; она необходима всегда, когда среда передачи не поддерживает
                        распространение сигналов, имеющих форму импульсов. В различных точках вдоль маршрута сигнала
                        дополнительные случайные шумы искажают принятый сигнал r(t), поэтому прием должен выражаться
                        через поврежденную версию сигнала s<sub>i</sub>(t), поступающего от передатчика. Принятый
                        сигнал r(t) можно выразить формулой:
                    </p>
                {% elif line == text.9 %}
                    <div class="formula-image"><img src="{% static "detect/images/formula1.png" %}" alt="Формула1"/>
                    </div>
                {% elif line == text.16 %}
                    <img class="bordered-image" src="{% static "detect/images/demodul_and_detect.png" %}"
                         alt="demodul_and_detect"/>
                {% elif line == text.17 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.18 %}
                    <p class="text-indent">
                        Из рисунка 2 видно, что на выход детектора поступают аппроксимации символов (или битов)
                        сообщений m<sub>i</sub> (также называемые жестким решением).
                    </p>
                {% elif line == text.22 %}
                    <img class="bordered-image" src="{% static "detect/images/viborka.png" %}" alt="viborka"/>
                {% elif line == text.24 %}
                    <img class="bordered-image" src="{% static "detect/images/kog_nekog.png" %}" alt="kog_nekog"/>
                {% else %}
                    <p class="text-indent">{{ line }}</p>
                {% endif %}
            {% endfor %}
            <div class="text-center">
                <a class="orange-button" href="#">Наверх</a>
            </div>
        </div>
    </div>
{% endblock content %}
