{% extends "detect/base_theory.html" %}
{% load static %}
{% block content %}
    <div class="card-content">
        <div class="text-center font-weight-bold h3">{{ header }}</div>
        <div class="card-content-body">
            {% for line in text %}
                {% if line == text.5 %}
                    <img class="bordered-image" src="{% static "detect/images/ris1.png" %}" alt="ris1"/>
                {% elif line == text.6 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.7 %}
                    <img class="bordered-image" src="{% static "detect/images/ris2.png" %}" alt="ris2"/>
                {% elif line == text.8 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.11 %}
                    <img class="bordered-image" src="{% static "detect/images/ris3.png" %}" alt="ris3"/>
                {% elif line == text.12 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.13 %}
                    <img class="bordered-image" src="{% static "detect/images/ris4.png" %}" alt="ris4"/>
                {% elif line == text.14 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.23 %}
                    <img class="bordered-image" src="{% static "detect/images/ris5.png" %}" alt="ris5"/>
                {% elif line == text.24 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.27 %}
                    <img class="bordered-image" src="{% static "detect/images/ris6.png" %}" alt="ris6"/>
                {% elif line == text.28 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.32 %}
                    <img class="bordered-image" src="{% static "detect/images/ris7.png" %}" alt="ris7"/>
                {% elif line == text.33 %}
                    <p class="image-caption">{{ line }}</p>
                {% elif line == text.41 %}
                    <img class="bordered-image" src="{% static "detect/images/ris8.png" %}" alt="ris8"/>
                {% elif line == text.42 %}
                    <p class="image-caption">{{ line }}</p>
                {% else %}
                    <p class="text-indent">{{ line }}</p>
                {% endif %}
            {% endfor %}
            <div class="text-center">
                <a href="#" class="orange-button">Наверх</a>
            </div>
        </div>
    </div>
{% endblock content %}
